				.marca-2017 .dark-blue-bk {
					background-color: #33BAE6;

				}
				.marca-2017 .btn-secondary {
					border-radius: 3px !important;
				}
				.marca-2017 .btn-secondary:hover {
					background-color: #1caade !important;
				}

				.marca-2017 .btn-success {
					background-color: #5BC500 !important;
				}


				.marca-2017 .seleccion-sucursal .h3-titulo {
					color: #00A9E0;
				}


				.marca-2017 y.titulo-preferencia img {
					width: 40px;
				}

				.marca-2017 .seleccion-sucursal .logo {
					width: 207px;
				}

				.marca-2017 .seleccion-sucursal .intro {
					background-color: #33BAE6;
				}


				.marca-2017 .seleccion-sucursal .sucur .img {
					background-color: transparent;
				}

				.seleccion-sucursal .sucur:hover {
					background-color: #F6F8FA;

				}

				.marca-2017 .seleccion-sucursal .sucur .texto .h2, .seleccion-sucursal .sucur-inactive .texto .h2 {
					color: #00A9E0;
				}


				.marca-2017 .seleccion-sucursal .sucur .img img, .marca-2017 .seleccion-sucursal .sucur-inactive .img img {
					height: 65px;
					width: 65px;
				}
				.marca-2017 .heading-steps{
					
					float: left;
					width: 100%;
					margin-bottom: 30px;
					padding-left: 20px;
					padding-right: 20px;

				}
				.marca-2017 .heading-steps hr{
					width: 100%;
					float: left;
					margin-top: 10px;
					margin-bottom: 15px;

				}
				.marca-2017 .heading-steps p{
					width: 100%;
					float: left;
					margin-left: 0;
				}


				.marca-2017 .heading-steps h1.titu{
					float: left;
					margin-top: 0;
					margin-left: 0;

				}


				.marca-2017 .steps-bar{
					text-align: center;
					padding: 0;
					margin-top: 5px;
					width: auto;
					float: right;
				}

				.marca-2017 .steps-bar li{
					display: inline-block;
					vertical-align: top;
					font-size: 14px;
				}
				.marca-2017 .steps-bar li.step-1{

				}
				.marca-2017 .steps-bar li.step-2 {
					padding-left: 20px;
					padding-right: 20px;
				}

				.marca-2017 .steps-bar li.inactive i{	
					background-color: #F2F2F2;
					border:0;
				}

				.marca-2017 .steps-bar li i{
					width: 31px;
					height: 31px;
					display: inline-block;
					vertical-align: top;
					line-height: 31px;
					border-radius: 50%;
					font-style: normal;
					margin-right: 6px;
					border: 1px solid  #00B7E7;

				}

				.marca-2017 .steps-bar li.current-step i{
					background-color: #00B7E7;
					color: #fff;
				}
				.marca-2017 .steps-bar li a{
					text-decoration:none;

				}
				.marca-2017 .steps-bar li span{
					line-height: 31px;
				}
				
				.marca-2017 .steps-bar li.current-step a{
					
					color: #00B7E7;
				}
				.marca-2017 .steps-bar li.inactive a{
					pointer-events: none;					
				}
				.marca-2017 .captcha-holder .input-group{
					width: 38%;	
					float: left;	
					display: inline-block;
					vertical-align: top;
				}
				.marca-2017 .captcha-holder #captcha{
					width: 60%;	
					float: right;
					margin-left: 2%;
				}
				.marca-2017 .captcha-holder #captchaImg{
					display: inline-block;
					width: calc(100% - 51px)

				}
				.marca-2017 .captcha-holder .input-group-btn{
					display: inline-block;
					width: 51px;
					height: 46px;
				}

				.marca-2017 .grey-alert{
					text-transform: none;
					font-weight: 300;
					padding: 20px 15px 10px;
					color: #656d7e;
					font-size: 14px;
					background-color: #ebedf1;
					margin-bottom: 10px;
				}

				.marca-2017 .check-gris {
					background: #aaa;
					border-radius: 2px;
					font-family: "Telefonica", Arial, Helvetica, Geneva, sans-serif;
					color: white;
					font-size: 14px;
					position: relative;
					text-align: left;
					padding: 5px 0px 0px 10px;
				}
				.marca-2017 .btn-link i {
					font-style: normal;
				}

				.marca-2017 h1 {
					margin-left: 20px;
					
				}
				.marca-2017 .help-block {
					color: #656d7e;
					
				}
				.marca-2017 .caja-registro > h1 + p {
					margin-bottom: 30px;
					margin-left: 23px;
					
				}
				.second-error {
					margin-bottom: 10px;
				}

				.marca-2017 .caja-registro {
					position: relative;
				}

				.marca-2017 .box-sticky-expandible {
					position: fixed;
					right: 12px;
					bottom: 12px;
 
					width: 200px;
					background-color: #219bbc;
					color: #fff;
					border-radius: 6px;
					padding: 10px;
					-webkit-transition: all .3s; 
					transition: all .3s;
					opacity: 1;
					
					z-index: 99;
				}
				.marca-2017 .box-sticky-expandible h4 {

					cursor: pointer;
					font-size: 16px;


				}
				.marca-2017 .box-sticky-expandible b {

					
					font-size: 15px;


				}
				.marca-2017 .box-sticky-expandible.destroyed {
					opacity: 0;


				}
				.marca-2017 .box-sticky-expandible .inner-content {
					display: none;
					

				}
				.marca-2017 .box-sticky-expandible i {
					position: absolute;
					top: 10px;
					right: 10px;
					font-style: normal;
					font-size: 16px;
					line-height: 10px;
					cursor: pointer;


				}
				

				




				@media ( max-width : 767px) {
					.marca-2017 h1 {
						margin-left: 0px;


					}
					.marca-2017 .box-sticky-expandible h4 {
				
						line-height: 19px;
					}
					.marca-2017 .caja-registro > h1 + p {

						margin-left: 4px;
					}
					.marca-2017 .box-sticky-expandible {

						width: 139px;
						right:15px;
						margin-left: -30px;
					}
					#seleccion-producto.marca-2017 .falso-header {
						display: block !important;
					}	
					.marca-2017 .heading-steps  {
						padding-left: 0;
						padding-right: 0;
						margin-bottom: 0;

					}

					.marca-2017 .steps-bar  {
						width: 100%;
						margin-top: 20px;

					}
					.marca-2017 .steps-bar li {
						float: none !important;
						text-align: center;

					}
					.marca-2017 .steps-bar li i{
						display: inline-block;
						margin:0;

					}
					.marca-2017 .steps-bar li span{
						display: block;
						line-height: 17px;
						padding-top: 8px;

					}

					.marca-2017.privado  .falso-header {
						display: block !important;

					}
					.marca-2017.privado  .despliegue-opciones .logo {
						width: 130px;
						height: auto;

						
						
					}
					

				}



				@media ( max-width : 480px) {
					.marca-2017 .steps-bar li.step-2 {
						padding-left: 4%;
						padding-right: 4%;
						max-width: 120px;

					}
					.marca-2017 .heading-steps p{

						font-size: 15px;

					}


					.marca-2017 .captcha-holder .input-group{
						width:100%;	
					}
					.marca-2017 .captcha-holder #captcha{
						width: 100%;	
						margin-left: 0;

					}

				}


/*
				@media (max-width: 767px) {

					.marca-2017.privado .despliegue-opciones .dropdown-menu:before {
						right: 16px;
					}
					.marca-2017.privado .despliegue-opciones .dropdown-toggle.hola {
						right: 0 !important;
						margin-right: 0;
					}
				}


				@media (max-width: 450px) {

					.marca-2017.privado .dropdown-menu {
						margin-top: 47px!important;
					}
				}

				*/