
.my-toggle {
  background: transparent;
  border: 0;
  border-radius: 0.25em;
  color: #888;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
  -moz-appearance: none;
  margin-top:-70px;
  -webkit-appearance: none;
  text-transform: capitalize;
  
}

.my-toggle2 {
  background: transparent;
  border: 0;
  border-radius: 0.25em;
  color: #888;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: -2.5em;
  padding: 0.5em;
  text-transform: uppercase;
  -moz-appearance: none;
  margin-top:-35px;
  -webkit-appearance: none;
  text-transform: capitalize;
  
}

.my-toggle3 {
  background-color: #FFF;
  border: 0;
  border-radius: 0.25em;
  color: #888;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: -1.2em;
  padding: 0.5em;
  text-transform: uppercase;
  -moz-appearance: none;
  margin-top:-72px;
  -webkit-appearance: none;
  text-transform: capitalize;
  
}

.my-toggle:hover,
.my-toggle:focus {
  
  outline: transparent;
}

.my-toggle2:hover,
.my-toggle2:focus {
  
  outline: transparent;
}
.my-toggle3:hover,
.my-toggle3:focus {
  
  outline: transparent;
}
