body {
	font-family: arial;
	position: relative;
	background: #fff;
}

.lt {
	float: left;
}

.rt {
	float: right;
}

#header {
	border-bottom: 0 !important;
	box-shadow: none !important;
}

#header #content_title {
	padding: 0;
	max-width: 85% !important;
}

#body {
	background: url("../../images/ct/bg_02.png") no-repeat;
	overflow: hidden;
	width: 100%;
}

div.debark {
	width: 85%;
	height: 760px;
	position: relative;
	margin: 0 auto
}

div.debark .text {
	padding-top: 13%;
	color: #fff;
}

div.debark .text h1 {
	font-size: 88px;
	margin-left: -2px;
}

div.debark .text h3 {
	margin-bottom: 20px;
	font-size: 24px;
}

div.import {
	width: 390px;
	position: absolute;
	top: 22%;
	right: 78px;
	border: 1px solid #314675;
	border-radius: 6px;
	overflow: hidden;
}

div.import h3 {
	height: 60px;
	line-height: 60px;
	background: #0052a4;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

div.import .welcome{
	position: absolute;
	top:19.5px;
	left:50%;
	margin-left:-115.88px;
	color: #fff;
	z-index: 5;
	font-size: 18px;
	font-weight: bold;
}

div.import .import_in {
	padding: 35px 20px 0 20px;
	margin-bottom: 0;
	overflow: hidden;
	background: #fff;
}

div.import ul {
	overflow: hidden;
	margin-bottom: 5px;
}

div.import ul li,div.import .verifycode_text {
	font-size: 14px;
	color: #666;
}

div.import ul li a {
	text-decoration: none;
	font-size: 14px;
	color: #3399ff;
	margin: 0 3px 0 10px;
}

div.import ul li a:hover {
	color: #167CC8;
}

#body div.import input {
	margin-bottom: 20px;
	width: 99%;
	height: 36px;
	line-height: 36px;
	border: 1px solid #dedede;
	border-radius: 2px;
}

#body div.import input:focus {
	border: 2px solid #94B6ED\9;
}

#body div.import .wr {
	color: #FF6600;
	margin-bottom: 10px;
}

#body div.import input.verifycode {
	width: 60%;
	height: 36px;
	float: left;
}

#body div.import .verifycode_d {
	position: relative;
	margin: 5px 0;
}

#body div.import input.login_in {
	width: 100%;
	background: #0099FF;
	color: #fff;
	height: 48px;
	font-size: 18px;
	border-radius: 3px;
	cursor: pointer;
}

#body div.import input.login_in:hover,div.warn .content p.btn button:hover
	{
	background: #167CC8;
}

div.warn {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	z-index: 15;
	margin-left: -200px;
	margin-top: -100px;
	border-radius: 6px;
}

div.warn>span {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 25px;
	width: 28px;
	text-align: center;
	color: #8FA0B2;
}

div.warn .content {
	margin-top: 50px;
}

div.warn .content p {
	text-align: center;
	margin: 10px auto;
}

div.warn .content .t p {
	color: #BEBEBE;
	font-size: 16px;
}

div.warn .content p.content_title {
	font-size: 25px;
	color: #333;
}

div.warn .content p.content_title span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url("../../images/ct/warm.png") no-repeat;
	margin: 0 5px -7px -7px;
}

div.warn .content p.btn button {
	background: #0099FF;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	margin: 15px 0;
}